.signup{
  padding-top:8%;
  padding-top:-15%;
  padding-top:-15%;
  padding-bottom:15%;
  background-image: url('../images/pic.jpeg');
        background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 100%;
}
.logSize Form{
    height: 230px;
}

.signup h2{
    color: deepskyblue;
}
.signup Form Input{
    margin: 5px;
}
.signup Button{
    /*background-color: #d34836;*/
}